.icon {
  float: right;
  cursor: pointer;
}

.nav {
  background: none;
  border-bottom: 1px solid #455A64;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
  background: none;
  color: #ECEFF1;
}